/* Estilo General */

*{
	padding: 0px;
	margin: 0px;
}

html{
	width: 100%;
}

body{
	width:100%;
}

#standard{
	max-width: 1024px;
	margin: auto;
	position: relative;
	z-index: 100;
}

p{
	font-family: 'Roboto Slab';
}

h1, h2, h3{
	font-family: 'Krona One';
}

img{
}

/*Targeteando al div standard en todas las paginas para que me tome todo el height con flexbox*/
#standard{
	display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Clase que si es contenido principal entonces ocupa toda esta proporcion del contenido en el flex*/
.oneflex{
flex: 1;
}

/* Div contenedor del menu (estoy usando flex para la alineacion)*/
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	margin: 20px;
}

/* Clase para el estilo de los 2 navs adentro del div contenedor de menu */
.navi{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
	flex: 0 1 40vw;
	text-align: center;
	font-family: 'Krona One';
}

.navi li{
	list-style: none;
	font-family: 'Krona One';
}

.navi .fa{
	font-size: 20px;
}

/*Estilo del logo central del div menu*/
.logo{
	flex: 0 1 20vw;
	text-align: center;
}

/* Los botones que hacen de dropdown en el menu */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Estilo del hover de los botones de dropdown */
.navbar a:hover, .dropdown:hover .dropbtn {
  font-family: 'Krona One';
}

/* Estilo del contenido del dropdown */
.dropdown-content {
  text-decoration: none;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los links adentro del dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

/* Estilo del hover sobre los links */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Mostrar el dropdown al hacer hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* A */
.aico{
font-style: normal;
font-weight: 800;
text-align: center;
letter-spacing: 2px;
color: #000000;
border:1px solid #000000;
}

a{
text-decoration: none;
}

a:visited{
text-decoration: none;
}

a:hover{
text-decoration: none;
}

footer{
	clear: both;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 50px;
}

footer p{
	margin: 0px 20px;
}

.socialhorizontal{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.socialhorizontal .fa{
	  padding: 12px;
	  font-size: 15px;
	  width: 12px;
	  text-align: center;
	  text-decoration: none;
	  border-radius: 50%;
}

.socialhorizontal div{
	margin:10px 0px 10px 10px;
}

.socialhorizontal div:nth-of-type(3) {
	margin-right: 30px;
}

/* Linkedin */
.fa-linkedin {
  background: #ED01FE;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #01BBFE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #A101FE;
  color: white;
}

#arriba{
	position: fixed;
	bottom: 10px;
	right: 5px;
    border:1px solid #666666;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity:0.5;
    box-shadow: 2px 2px 2px;
}

#arriba i{
	color: #666;
    margin: 0;
    padding:0 10px 7px 10px;
    font-size: 35px;
}

#arriba:hover {
    background: #F26095;
    color: #fff;
    border:none;
    opacity:1;
}

#arriba:hover i {
    color: #fff;
}

/*Estilo de páginas particulares*/

/*Pagina Bio*/
.bioimg1{
	position: absolute;
	top: 197px;
}

#aboutmain{
	display: flex;
	flex-direction: row;
}

#boxright h1, #boxright p{
	margin: 0 55px 1em 25px;
	text-align: justify;
}

#boxright p:nth-of-type(2) {
	margin-top: 40px;
}

#galeriabio{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#galeriabio img{
	margin: 20px 10px 15px 10px;
}

.imgtext{
	text-align: center;
}

#quotebio{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-color: #DFDFDF;
	background-color: #DFDFDF;
	padding: 13px 45px;
}

#quotebio p{
	margin: 20px 10px 15px 10px;
	text-align: justify;
}

#quotebio img{
	max-width: 90px;
	max-height: 90px;
	text-align: center;
	margin: 10px;
}

#overworld, #overworld p{
	margin: 20px 40px 0 40px;
}
/*******************************************
********************************************
*******************************************/
/*Pagina Ilustraciones*/
/*******************************************
********************************************
*******************************************/

#portfoliomain{
	padding:0 25px 0 25px
}

.contenedor-galeria{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.contenedor-galeria div{
	margin: 0;
	padding: 10px;
	position: relative;
	width: 300px;
	height: 192px;
	overflow: hidden;
	cursor: pointer;
}

.tituloImagen{
	position: absolute;
	bottom:15px;
	left:15px;
	background: #FFFFFF;
	padding: 3px;
	display: none;
}
/*******************************************
********************************************
*******************************************/
/* pop up galeria */
/*******************************************
********************************************
*******************************************/


#popUpGaleria{
	position: fixed;
	top:0;
	left:0;
	z-index: 300;
	width: 100%;
	height:100%;
	font-size: 3em;
	color:#FFFFFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

#fotoPopUp{
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

}

#fotoPopUp i{
	text-align: right;
	cursor: pointer;
	margin-bottom: 5px;
}

#contenedorFotoPopUp{
	background: #FFFFFF;
	border:10px solid #FFFFFF;
}

#contenedorFotoPopUp img{
	background: #FFFFFF;
	border:4px solid #FFFFFF;
	max-width: 900px;
	max-height: 500px;
}
#flechaPrevPopUp, #flechaNextPopUp{
	cursor: pointer;
}

#fondoGaleria{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	height:100%;
	background-color:#000000;
	opacity:0.7;
	z-index: 200;
	display: none;
}
